html, body {
	margin: 0;
	padding: 0;
	background-color: #818666;
}

.side_bar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 200px; 
	height: 100%;
    z-index: 2;
}
.side_bar .menu_point {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.side_bar a:hover {
	background: #ddd;
	color: black;
}
.content {
	margin: 0 0 0 200px;
}

.content_element {
	height: 100vh;
}

.menu_cutoff {
	text-align: center;
	font-size: 4vh;
	color:#BFC3AA;
    margin: 0;
	padding-left: 16px;
    font-weight: bold;
	height: 5%;
	margin-bottom: 2.5%;
	background-color:#333;
}
.slider {
    
	display: flex;
	margin: auto;
    height: 85%;
	width: 600px;
	justify-content: space-between;
	align-items: center;
}

.slider .item {
	object-fit:scale-down;
	object-position: center;
	position: absolute;
	height: 85vh;
	width: 600px;
}

.slider .previous, .slider .next {
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 20px;
	z-index: 10;
	height: fit-content;
	width: fit-content;
	padding: 20px;
}
.slider .previous:hover, .slider .next:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.text {
    padding-left: 16px;
}

.textInForms textarea {
    padding-left: 16px;
    max-height: 80px;
    min-width: 160px;
    max-width: 160px;
    min-height: 80px;
}

.button {
    padding: 10px;
    margin: 20px;
    border: hidden;
    border-radius: 10px;
    width: 170px;
}

.button:hover {
	background: black;
	color: #ddd;
}



